
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_HomePage.cshtml";
}

<div class="container mt-5 mb-5">
    <h5 class="text-center text-uppercase">The Developers</h5><hr style="border:1px solid #F23A2E; width:10%; background-color:#F23A2E; margin-bottom:3em;" />
    <div class="row align-items-center">
       <div class="col-6">
           hello
       </div>
        <div class="col-6">
           hello
       </div>
    </div>
</div>

